@charset "UTF-8";
.body {
  position: relative;
}

header,
.popup-header {
  padding: 7.2vw 0vw;
  background-color: #005baa;
  color: #fff;
  font-size: 4vw;
  text-align: center;
  font-size: 2.03125vw;
}
header .popup-header,
.popup-header .popup-header {
  font-size: 4.2666666667vw;
}
@media (min-width: 1024px) {
  header .popup-header,
  .popup-header .popup-header {
    font-size: 2.03125vw;
  }
}
@media (min-width: 1024px) {
  header,
  .popup-header {
    padding: 1.9270833333vw 0vw;
  }
  header .inner,
  .popup-header .inner {
    margin: 0 auto;
    font-size: 2.0833333333vw;
    max-width: 41.6666666667vw;
  }
}

main .inner {
  padding: 5.3333333333vw 10.1333333333vw;
  font-size: 3.2vw;
  line-height: 120%;
}
main .inner .red {
  color: #e3000b;
}
main .inner .blue {
  color: #005baa;
}
@media (min-width: 1024px) {
  main .inner {
    padding: 2.3958333333vw 0vw;
    max-width: 41.6666666667vw;
    margin: 0 auto;
    font-size: 1.09375vw;
  }
}
main div[class^=sector] {
  border-bottom: 1px solid #999;
}
main div[class^=sector]:nth-last-child(-n+2) {
  border-bottom: none;
}
main .check-box {
  display: flex;
  gap: 2.1333333333vw;
  align-items: center;
  justify-content: center;
}
main .check-box .input-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .check-box .input-wrap .custom-checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
main .check-box .input-wrap .custom-checkbox input[type=checkbox] {
  display: none;
}
main .check-box .input-wrap .custom-checkbox input[type=checkbox]:checked + .checkmark {
  border-color: #000;
}
main .check-box .input-wrap .custom-checkbox input[type=checkbox]:checked + .checkmark::after {
  opacity: 1;
}
main .check-box .input-wrap .custom-checkbox .checkmark {
  width: 3.2vw;
  height: 3.2vw;
  background-color: #fff;
  border: 1px solid #000;
  margin-right: 1.8666666667vw;
  position: relative;
  transition: all 0.2s ease;
}
main .check-box .input-wrap .custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  left: 0.6666666667vw;
  top: 0.1333333333vw;
  width: 0.96vw;
  height: 1.92vw;
  border: 2px solid #000;
  border-width: 0 0.5333333333vw 0.5333333333vw 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s ease;
}
@media (min-width: 1024px) {
  main .check-box {
    gap: 0.5208333333vw;
  }
  main .check-box .input-wrap .custom-checkbox .checkmark {
    width: 1.25vw;
    height: 1.25vw;
    margin-right: 0.6770833333vw;
  }
}
main .btn {
  display: inline-block;
  font-size: 2.1333333333vw;
  color: #fff;
  padding: 1.3333333333vw 2.1333333333vw;
  background-color: #005baa;
  border-radius: 5.3333333333vw;
}
@media (min-width: 1024px) {
  main .btn {
    padding: 0.5208333333vw 0.7291666667vw;
    font-size: 0.78125vw;
  }
}
main .input-box {
  width: 100%;
  padding: 0vw 8vw;
}
main .input-box .input-wrap {
  position: relative;
  margin-bottom: 1.3333333333vw;
}
main .input-box .input-wrap .red {
  position: absolute;
  top: 2.1333333333vw;
  left: 0.5333333333vw;
}
main .input-box .input-wrap input[type=text] {
  width: 100%;
  font-size: 2.9333333333vw;
  padding: 2.1333333333vw;
  border-bottom: 1px solid #999;
}
main .input-box .btn {
  position: absolute;
  bottom: 8px;
  right: 0;
}
@media (min-width: 1024px) {
  main .input-box {
    padding: 0;
  }
  main .input-box .input-wrap {
    width: 21.875vw;
    margin: 0 auto;
    margin-bottom: 0.8333333333vw;
  }
  main .input-box .input-wrap .red {
    position: absolute;
    top: 0.4166666667vw;
    left: 0.1041666667vw;
  }
  main .input-box .input-wrap input[type=text] {
    width: 100%;
    font-size: 1.0416666667vw;
    padding: 0.5208333333vw 0.625vw;
    border-bottom: 1px solid #999;
  }
  main .input-box .btn {
    bottom: 0.5208333333vw;
  }
}
main .text-box.not {
  display: none;
}
main.first .sector-store {
  display: none;
}
main.second .sector-store,
main.second .sector-first {
  display: none;
}
main.second .sector-basic {
  border-bottom: none;
}
main.fifth div[class^=sector]:not(.sector-basic):not(.sector-button) {
  display: none;
}
main.fifth .sector-basic {
  border-bottom: none;
}
main.fifth .sector-basic .inner {
  padding-top: 5.2604166667vw;
}
main.fifth .sector-basic .inner .input-box .input-wrap:nth-child(3), main.fifth .sector-basic .inner .input-box .input-wrap:nth-child(4) {
  display: none;
}
main.sixth div[class^=sector]:not(.sector-store.sixth):not(.sector-button):not(.sector-basic) {
  display: none;
}
main.sixth .sector-basic {
  border-bottom: none;
}
main.sixth .input-box .input-wrap:nth-child(3), main.sixth .input-box .input-wrap:nth-child(4) {
  display: none;
}
main.not div[class^=sector]:not(.sector-store):not(.sector-file):not(.sector-basic):not(.sector-button) {
  display: none;
}
main.not .sector-file .inner {
  padding: 1.875vw;
}
main.not .sector-file .inner .text-box.first {
  display: none;
}
main.not .sector-file .inner .text-box.not {
  display: block;
}
main.not .sector-store {
  border-bottom: none;
}
main.not .sector-store.sixth {
  display: none;
}
main.not .sector-button button:first-child {
  display: block;
}

.sector-file .text-box {
  margin-bottom: 4.5333333333vw;
}
.sector-file .text-box br {
  display: none;
}
.sector-file .text-box.not .red {
  margin-left: -1.3333333333vw;
  font-weight: 600;
  margin-bottom: 3.2vw;
}
.sector-file .text-box.not .blue {
  margin-bottom: 6.4vw;
}
.sector-file .text-box.not p:last-child {
  margin-bottom: 11px;
}
@media (min-width: 1024px) {
  .sector-file .text-box.not .red {
    margin-left: 0;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2.34375vw;
  }
  .sector-file .text-box.not .blue {
    margin-bottom: 1.9791666667vw;
  }
  .sector-file .text-box.not .blue br.pc {
    display: block;
  }
  .sector-file .text-box.not p:last-child {
    margin-bottom: 2.3958333333vw;
  }
}
.sector-file .text-box:last-child {
  margin-bottom: 0;
}
@media (min-width: 1024px) {
  .sector-file .text-box {
    margin-bottom: 2.34375vw;
  }
}
.sector-file .input-box {
  display: flex;
  justify-content: center;
  margin-bottom: 4.8vw;
}
.sector-file .input-box .input-wrap {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.sector-file .input-box .input-wrap input[type=file] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
.sector-file .input-box .input-wrap .upload-name {
  display: inline-block;
  height: 6.9333333333vw;
  padding: 1.3333333333vw 0vw;
  box-sizing: border-box;
  vertical-align: middle;
  border: none;
  text-align: center;
  border-bottom: 1px solid #000;
  width: 39.2vw;
  font-size: 2.9333333333vw;
  color: #000;
  font-family: "HGSoftGGothicssi", "맑은고딕", Arial, sans-serif;
}
.sector-file .input-box .input-wrap label {
  display: inline-block;
  width: 19.7333333333vw;
  text-align: center;
  padding: 1.8666666667vw 0vw;
  color: #fff;
  border-radius: 5.3333333333vw;
  vertical-align: middle;
  background-color: #005baa;
  cursor: pointer;
  height: 6.9333333333vw;
  font-size: 3.2vw;
  font-weight: 600;
}
.sector-file .input-box .input-wrap .file-cancel {
  position: absolute;
  right: 0;
  bottom: 1.8666666667vw;
  display: inline-flex;
  align-items: center;
  width: 2.6666666667vw;
  height: 2.6666666667vw;
  border: 1px solid #000;
}
.sector-file .input-box .input-wrap .file-cancel img {
  width: 100%;
  height: 100%;
}
@media (min-width: 1024px) {
  .sector-file .input-box {
    margin-bottom: 1.7708333333vw;
  }
  .sector-file .input-box .input-wrap .upload-name {
    height: 2.6041666667vw;
    width: 15vw;
    font-size: 1.0416666667vw;
  }
  .sector-file .input-box .input-wrap label {
    width: 7.5520833333vw;
    height: 2.6041666667vw;
    text-align: center;
    padding: 0.6770833333vw 0vw;
    color: #fff;
    border-radius: 3.125vw;
    vertical-align: middle;
    background-color: #005baa;
    cursor: pointer;
    font-size: 1.09375vw;
    font-weight: 600;
  }
  .sector-file .input-box .input-wrap .file-cancel {
    bottom: 0.6770833333vw;
    width: 1.0416666667vw;
    height: 1.0416666667vw;
  }
}
.sector-store .inner {
  padding: 5.3333333333vw 10.6666666667vw 2.9333333333vw;
}
.sector-store .inner .text-box {
  margin-bottom: 4.8vw;
}
.sector-store .inner .text-box p:first-child {
  position: relative;
  padding-left: 1.3333333333vw;
  margin-bottom: 3.2vw;
}
.sector-store .inner .text-box p:first-child .red {
  position: absolute;
  top: 0;
  left: 0;
}
.sector-store .inner .store-box ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.8vw;
}
.sector-store .inner .store-box ul li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.9333333333vw;
}
.sector-store .inner .store-box ul li .icon-box {
  width: 13.8666666667vw;
  height: 13.8666666667vw;
  border-radius: 50%;
  border: 1px solid #999;
  box-sizing: border-box;
  overflow: hidden;
}
.sector-store .inner .store-box ul li .icon-box.gs {
  background-image: url("../image/gs.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sector-store .inner .store-box ul li .icon-box.cu {
  background-image: url("../image/cu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sector-store .inner .store-box ul li .icon-box.seven {
  background-image: url("../image/seven.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sector-store .inner .store-box ul li .icon-box.emart {
  background-image: url("../image/emart.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sector-store .inner .store-box ul li .choice {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  font-size: 2.6666666667vw;
  color: #005baa;
}
.sector-store .inner .store-box ul li.on .icon-box {
  border: 5px solid #005baa;
}
.sector-store .inner .store-box ul li.on .choice {
  display: block;
}
@media (min-width: 1024px) {
  .sector-store .inner {
    padding: 1.875vw 0vw;
  }
  .sector-store .inner .text-box {
    margin-bottom: 1.1979166667vw;
  }
  .sector-store .inner .text-box p:first-child {
    padding-left: 0.5208333333vw;
    margin-bottom: 0.625vw;
  }
  .sector-store .inner .store-box ul {
    gap: 1.71875vw;
  }
  .sector-store .inner .store-box ul li {
    margin-bottom: 1.71875vw;
  }
  .sector-store .inner .store-box ul li .icon-box {
    width: 5.0260416667vw;
    height: 5.0260416667vw;
  }
  .sector-store .inner .store-box ul li .icon-box.gs {
    background-image: url("../image/gs.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sector-store .inner .store-box ul li .icon-box.cu {
    background-image: url("../image/cu.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sector-store .inner .store-box ul li .icon-box.seven {
    background-image: url("../image/seven.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sector-store .inner .store-box ul li .icon-box.emart {
    background-image: url("../image/emart.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sector-store .inner .store-box ul li .choice {
    font-size: 0.9375vw;
    margin-top: 0.5729166667vw;
    color: #005baa;
  }
}
.sector-basic .text-box:first-child {
  margin-bottom: 8vw;
}
.sector-basic .text-box br {
  display: none;
}
.sector-basic .check-box {
  margin-bottom: 4.8vw;
}
.sector-basic .input-box {
  margin-bottom: 6.6666666667vw;
}
@media (min-width: 1024px) {
  .sector-basic .text-box:first-child {
    margin-bottom: 2.7604166667vw;
  }
  .sector-basic .check-box {
    margin-bottom: 3.3854166667vw;
  }
  .sector-basic .input-box {
    margin-bottom: 3.3854166667vw;
  }
}
.sector-first .text-box {
  margin-bottom: 4.8vw;
}
.sector-first .event-box {
  padding: 0vw 1.0666666667vw;
  margin-bottom: 5.3333333333vw;
}
.sector-first .event-box .event-title {
  padding: 1.3333333333vw 0vw;
  text-align: center;
  font-size: 3.2vw;
  color: #fff;
  background-color: #005baa;
}
.sector-first .event-box .event-cont {
  padding: 3.2vw 4vw;
  background-color: #f2f2f2;
}
.sector-first .event-box .event-cont li {
  position: relative;
  padding-left: 2.1333333333vw;
}
.sector-first .event-box .event-cont li:before {
  content: "";
  display: inline-block;
  width: 0.8vw;
  height: 0.8vw;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 1.0666666667vw;
  left: 0vw;
}
.sector-first .check-box {
  display: block;
}
.sector-first .check-box .input-wrap {
  margin-bottom: 2.6666666667vw;
}
.sector-first .check-box .btn {
  margin-left: 6.1333333333vw;
}
@media (min-width: 1024px) {
  .sector-first .text-box {
    margin-bottom: 1.5625vw;
  }
  .sector-first .event-box {
    margin-bottom: 1.6145833333vw;
  }
  .sector-first .event-box .event-title {
    padding: 0.5208333333vw 0vw;
    font-size: 1.0416666667vw;
  }
  .sector-first .event-box .event-cont {
    padding: 1.25vw 1.7708333333vw;
  }
  .sector-first .event-box .event-cont li {
    padding-left: 0.7291666667vw;
  }
  .sector-first .event-box .event-cont li:before {
    content: "";
    width: 0.2604166667vw;
    height: 0.2604166667vw;
    top: 0.5208333333vw;
    left: 0vw;
  }
  .sector-first .check-box {
    display: flex;
    gap: 3.7333333333vw;
    margin-bottom: 2.6041666667vw;
  }
  .sector-first .check-box .input-wrap {
    display: inline-block;
    margin-bottom: 0;
  }
  .sector-first .check-box .btn {
    margin-left: 0;
  }
}
.sector-button .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.1333333333vw;
  gap: 9.3333333333vw;
}
.sector-button .inner button {
  display: inline-block;
  width: 26.9333333333vw;
  border-radius: 5.3333333333vw;
  font-size: 3.4666666667vw;
  padding: 2.6666666667vw 0vw;
  color: #fff;
  background-color: #005baa;
  font-weight: 800;
}
.sector-button .inner button:first-child {
  display: none;
}
@media (min-width: 1024px) {
  .sector-button .inner {
    margin-top: 0;
    gap: 4.0625vw;
  }
  .sector-button .inner button {
    width: 10.2083333333vw;
    border-radius: 3.125vw;
    font-size: 1.5625vw;
    padding: 1.1458333333vw 0vw;
    color: #fff;
  }
}

.popup {
  display: none;
  position: fixed;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  padding-bottom: 12.2666666667vw;
  box-sizing: border-box;
}
.popup .popup-cont {
  padding: 6.4vw 8.5333333333vw 5.3333333333vw;
}
.popup .popup-cont .scroll-zone {
  height: calc(100vh - 200px);
  border: 1px solid #000;
  overflow-y: scroll;
}
.popup .popup-btn {
  text-align: center;
}
.popup .popup-btn button {
  display: inline-block;
  width: 26.9333333333vw;
  border-radius: 5.3333333333vw;
  font-size: 3.4666666667vw;
  padding: 2.6666666667vw 0vw;
  color: #fff;
  background-color: #005baa;
  font-weight: 800;
}
.popup.check .popup-header {
  position: relative;
  font-size: 4.2666666667vw;
}
.popup.check .popup-header .btn-before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 9.0666666667vw;
  width: 2.9333333333vw;
  height: 3.2vw;
}
.popup.check .popup-header .btn-before a {
  width: 100%;
  height: 100%;
}
.popup.check .popup-header .btn-before a img {
  width: 100%;
  height: 100%;
}
.popup.check .text {
  margin-bottom: 4.8vw;
  font-size: 2.9333333333vw;
}
@media (min-width: 1024px) {
  .popup {
    width: 100%;
    height: 100vh;
    padding-bottom: 3.0208333333vw;
    box-sizing: border-box;
  }
  .popup .popup-cont {
    height: calc(100vh - 300px);
    padding: 2.96875vw 0vw 2.4479166667vw;
    width: 67.2916666667vw;
    margin: 0 auto;
  }
  .popup .popup-cont .scroll-zone {
    height: 100%;
  }
  .popup .popup-btn {
    text-align: center;
  }
  .popup .popup-btn button {
    width: 13.4375vw;
    border-radius: 3.125vw;
    font-size: 1.6666666667vw;
    padding: 1.71875vw 0vw;
  }
  .popup.check .popup-header {
    position: relative;
    font-size: 4.2666666667vw;
  }
  .popup.check .popup-header .btn-before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 9.0666666667vw;
    width: 2.9333333333vw;
    height: 3.2vw;
  }
  .popup.check .popup-header .btn-before a {
    width: 100%;
    height: 100%;
  }
  .popup.check .popup-header .btn-before a img {
    width: 100%;
    height: 100%;
  }
  .popup.check .text {
    margin-bottom: 4.8vw;
    font-size: 2.9333333333vw;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  .popup.check .popup-header {
    position: relative;
    font-size: 2.1354166667vw;
  }
  .popup.check .popup-header .btn-before {
    left: 3.2291666667vw;
    width: 1.09375vw;
    height: 2.0833333333vw;
  }
  .popup.check .text {
    margin-bottom: 1.5625vw;
    font-size: 1.09375vw;
  }
}

.dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* 팝업 래퍼 */
.popup-wrap {
  width: calc(100% - 20px);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
@media (min-width: 1024px) {
  .popup-wrap {
    width: 595px;
  }
}

/* 팝업 박스 */
.popup.cancel {
  height: auto;
  overflow: hidden;
  background: white;
  border-radius: 10px;
  border: 1px solid #999;
  padding: 24px 0 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 4.2666666667vw;
}
@media (min-width: 1024px) {
  .popup.cancel {
    font-size: 20px;
    padding: 45px 0 0;
  }
}

/* 버튼 영역 */
.popup-buttons {
  display: flex;
  border-top: 1px solid #ccc;
  margin-top: 24px;
  height: 48px;
}
@media (min-width: 1024px) {
  .popup-buttons {
    margin-top: 45px;
  }
}

/* 버튼 */
.popup-buttons button {
  flex: 1;
  border: none;
  background: white;
  font-size: 4.2666666667vw;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .popup-buttons button {
    font-size: 20px;
  }
}

/* 버튼 구분선 */
.popup-buttons .btn-cancel {
  border-right: 1px solid #ccc;
}

/* 팝업 전체 래퍼 */
.popup-preview {
  width: 70%;
  max-width: 756px;
  aspect-ratio: 1/1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  text-align: center;
}

/* 팝업 내용 */
.popup-inner {
  background: white;
  padding: 24px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

/* 이미지 미리보기 */
.popup-inner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto 20px;
  background: #fff;
}

/* 확인 버튼 */
.btn-confirm {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: #005BAA;
  border: 2px solid #005BAA;
  padding: 10px 32px;
  font-size: 15px;
  border-radius: 24px;
  cursor: pointer;
  font-weight: 800;
}
@media (min-width: 1024px) {
  .btn-confirm {
    border-radius: 50px;
    bottom: -100px;
    font-size: 32px;
  }
}