@use "../utils/mixin" as mixin;
@use "../variables/device" as device;
@use "../utils/function" as *;
.body {
  position: relative;
}
header,
.popup-header {
  padding: vw(27 0);
  background-color: #005baa;
  color: #fff;
  font-size: vw(15);
  text-align: center;
font-size: vw(39, 1920);
  .popup-header {
    font-size: vw(16);
    @include mixin.laptop {
      font-size: vw(39, 1920);
    }
  }

  @include mixin.laptop {
    padding: vw(37 0, 1920);

    .inner {
      margin: 0 auto;
      font-size: vw(40, 1920);
      max-width: vw(800, 1920);
    }
  }
}

main {
  .inner {
    padding: vw(20 38);
    font-size: vw(12);
    line-height: 120%;

    .red {
      color: #e3000b;
    }

    .blue {
      color: #005baa;
    }

    @include mixin.laptop {
      padding: vw(46 0, 1920);
      max-width: vw(800, 1920);
      margin: 0 auto;
      font-size: vw(21, 1920);
    }
  }

  div[class^="sector"] {
    border-bottom: 1px solid #999;
    &:nth-last-child(-n + 2) {
      border-bottom: none;
    }
  }

  // 체크박스
  .check-box {
    display: flex;
    gap: vw(8);
    align-items: center;
    justify-content: center;
    .input-wrap {
      display: flex;
      align-items: center;
      justify-content: center;

      .custom-checkbox {
        position: relative;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        user-select: none;

        input[type="checkbox"] {
          display: none;

          &:checked + .checkmark {
            border-color: #000;

            &::after {
              opacity: 1;
            }
          }
        }

        .checkmark {
          width: vw(12);
          height: vw(12);
          background-color: #fff;
          border: 1px solid #000;
          margin-right: vw(7);
          position: relative;
          transition: all 0.2s ease;

          &::after {
            content: "";
            position: absolute;
            left: vw(2.5); // 5px → vw(2.5)
            top: vw(0.5); // 1px → vw(0.5)
            width: vw(3.6); // 6px → vw(3.6)
            height: vw(7.2); // 12px → vw(7.2)
            border: 2px solid #000;
            border-width: 0 vw(2) vw(2) 0; // 2px → vw(0.6)
            transform: rotate(45deg);
            opacity: 0;
            transition: opacity 0.2s ease;
          }
        }
      }
    }

    @include mixin.laptop {
      gap: vw(10, 1920);
      .input-wrap {
        .custom-checkbox {
          .checkmark {
            width: vw(24, 1920);
            height: vw(24, 1920);
            margin-right: vw(13, 1920);
          }
        }
      }
    }
  }

  .btn {
    display: inline-block;
    font-size: vw(8);
    color: #fff;
    padding: vw(5 8);
    background-color: #005baa;
    border-radius: vw(20);

    @include mixin.laptop {
      padding: vw(10 14, 1920);
      font-size: vw(15, 1920);
    }
  }

  //인풋
  .input-box {
    width: 100%;
    padding: vw(0 30);
    .input-wrap {
      position: relative;
      margin-bottom: vw(5);
      .red {
        position: absolute;
        top: vw(8);
        left: vw(2);
      }
      input[type="text"] {
        width: 100%;
        font-size: vw(11);
        padding: vw(8);
        border-bottom: 1px solid #999;
      }
    }
    .btn {
      position: absolute;
      bottom: 8px;
      right: 0;
    }

    @include mixin.laptop {
      padding: 0;
      .input-wrap {
        width: vw(420, 1920);
        margin: 0 auto;
        margin-bottom: vw(16, 1920);
        .red {
          position: absolute;
          top: vw(8, 1920);
          left: vw(2, 1920);
        }
        input[type="text"] {
          width: 100%;
          font-size: vw(20, 1920);
          padding: vw(10 12, 1920);
          border-bottom: 1px solid #999;
        }
      }
      .btn {
        bottom: vw(10, 1920);
      }
    }
  }

  // 약관 케이스별 클래스
  .text-box.not {
    display: none;
  }
  &.first {
    .sector-store {
      display: none;
    }
  }

  &.second {
    .sector-store,
    .sector-first {
      display: none;
    }

    .sector-basic {
      border-bottom: none;
    }
  }

  &.fifth {
    div[class^="sector"]:not(.sector-basic):not(.sector-button) {
      display: none;
    }

    .sector-basic {
      border-bottom: none;
      .inner {
        padding-top: vw(101, 1920);

        .input-box {
          .input-wrap {
            &:nth-child(3),
            &:nth-child(4) {
              display: none;
            }
          }
        }
      }
    }
  }

  &.sixth {
    div[class^="sector"]:not(.sector-store.sixth):not(.sector-button):not(
        .sector-basic
      ) {
      display: none;
    }
    .sector-basic {
      border-bottom: none;
    }
    .input-box {
      .input-wrap {
        &:nth-child(3),
        &:nth-child(4) {
          display: none;
        }
      }
    }
  }

  &.not {
    div[class^="sector"]:not(.sector-store):not(.sector-file):not(
        .sector-basic
      ):not(.sector-button) {
      display: none;
    }
    .sector-file {
      .inner {
        padding: vw(36, 1920);
        .text-box {
          &.first {
            display: none;
          }
          &.not {
            display: block;
          }
        }
      }
    }
    .sector-store {
      border-bottom: none;
      &.sixth {
        display: none;
      }
    }

    .sector-button {
      button {
        &:first-child {
          display: block;
        }
      }
    }
  }
}

.sector {
  &-file {
    .text-box {
      margin-bottom: vw(17);
      br {
        display: none;
      }
      &.not {
        .red {
          margin-left: vw(-5);
          font-weight: 600;
          margin-bottom: vw(12);
        }
        .blue {
          margin-bottom: vw(24);
        }

        p {
          &:last-child {
            margin-bottom: 11px;
          }
        }

        @include mixin.laptop {
          .red {
            margin-left: 0;
            font-weight: 600;
            text-align: center;
            margin-bottom: vw(45, 1920);
          }
          .blue {
            br.pc {
              display: block;
            }
            margin-bottom: vw(38, 1920);
          }

          p {
            &:last-child {
              margin-bottom: vw(46, 1920);
            }
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      @include mixin.laptop {
        margin-bottom: vw(45, 1920);
      }
    }
    .input-box {
      display: flex;
      justify-content: center;
      margin-bottom: vw(18);
      .input-wrap {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        input[type="file"] {
          position: absolute;
          width: 0;
          height: 0;
          padding: 0;
          overflow: hidden;
          border: 0;
        }
        .upload-name {
          display: inline-block;
          height: vw(26);
          padding: vw(5 0);
          box-sizing: border-box;
          vertical-align: middle;
          border: none;
          text-align: center;
          border-bottom: 1px solid #000;
          width: vw(147);
          font-size: vw(11);
          color: #000;
          font-family: "HGSoftGGothicssi", "맑은고딕", Arial, sans-serif;
        }
        label {
          display: inline-block;
          width: vw(74);
          text-align: center;
          padding: vw(7 0);
          color: #fff;
          border-radius: vw(20);
          vertical-align: middle;
          background-color: #005baa;
          cursor: pointer;
          height: vw(26);
          font-size: vw(12);
          font-weight: 600;
        }

        .file-cancel {
          position: absolute;
          right: 0;
          bottom: vw(7);
          display: inline-flex;
          align-items: center;
          width: vw(10);
          height: vw(10);
          border: 1px solid #000;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      @include mixin.laptop {
        margin-bottom: vw(34, 1920);
        .input-wrap {
          .upload-name {
            height: vw(50, 1920);
            width: vw(288, 1920);
            font-size: vw(20, 1920);
          }
          label {
            width: vw(145, 1920);
            height: vw(50, 1920);
            text-align: center;
            padding: vw(13 0, 1920);
            color: #fff;
            border-radius: vw(60, 1920);
            vertical-align: middle;
            background-color: #005baa;
            cursor: pointer;
            font-size: vw(21, 1920);
            font-weight: 600;
          }

          .file-cancel {
            bottom: vw(13, 1920);
            width: vw(20, 1920);
            height: vw(20, 1920);
          }
        }
      }
    }
  }

  &-store {
    .inner {
      padding: vw(20 40 11);

      .text-box {
        margin-bottom: vw(18);
        p {
          &:first-child {
            position: relative;
            padding-left: vw(5);
            margin-bottom: vw(12);

            .red {
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }
      }
      .store-box {
        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: vw(18);

          li {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: vw(11);
            .icon-box {
              width: vw(52);
              height: vw(52);
              border-radius: 50%;
              border: 1px solid #999;
              box-sizing: border-box;
              overflow: hidden;

              &.gs {
                @include mixin.backgroundImage("gs.svg");
              }
              &.cu {
                @include mixin.backgroundImage("cu.svg");
              }
              &.seven {
                @include mixin.backgroundImage("seven.svg");
              }
              &.emart {
                @include mixin.backgroundImage("emart.svg");
              }
            }

            .choice {
              position: absolute;
              top: 100%;
              left: 50%;
              transform: translateX(-50%);
              display: none;
              font-size: vw(10);
              color: #005baa;
            }

            &.on {
              .icon-box {
                border: 5px solid #005baa;
              }

              .choice {
                display: block;
              }
            }
          }
        }
      }
      @include mixin.laptop {
        padding: vw(36 0, 1920);

        .text-box {
          margin-bottom: vw(23, 1920);
          p {
            &:first-child {
              padding-left: vw(10, 1920);
              margin-bottom: vw(12, 1920);
            }
          }
        }
        .store-box {
          ul {
            gap: vw(33, 1920);

            li {
              margin-bottom: vw(33, 1920);
              .icon-box {
                width: vw(96.5, 1920);
                height: vw(96.5, 1920);

                &.gs {
                  @include mixin.backgroundImage("gs.svg");
                }
                &.cu {
                  @include mixin.backgroundImage("cu.svg");
                }
                &.seven {
                  @include mixin.backgroundImage("seven.svg");
                }
                &.emart {
                  @include mixin.backgroundImage("emart.svg");
                }
              }

              .choice {
                font-size: vw(18, 1920);
                margin-top: vw(11, 1920);
                color: #005baa;
              }
            }
          }
        }
      }
    }
  }

  &-basic {
    .text-box {
      &:first-child {
        margin-bottom: vw(30);
      }
      br {
        display: none;
      }
    }
    .check-box {
      margin-bottom: vw(18);
    }

    .input-box {
      margin-bottom: vw(25);
    }
    @include mixin.laptop {
      .text-box {
        &:first-child {
          margin-bottom: vw(53, 1920);
        }
      }
      .check-box {
        margin-bottom: vw(65, 1920);
      }

      .input-box {
        margin-bottom: vw(65, 1920);
      }
    }
  }

  &-first {
    .text-box {
      margin-bottom: vw(18);
    }

    .event-box {
      padding: vw(0 4);
      margin-bottom: vw(20);
      .event-title {
        padding: vw(5 0);
        text-align: center;
        font-size: vw(12);
        color: #fff;
        background-color: #005baa;
      }

      .event-cont {
        padding: vw(12 15);
        background-color: #f2f2f2;

        li {
          position: relative;
          padding-left: vw(8);

          &:before {
            content: "";
            display: inline-block;
            width: vw(3);
            height: vw(3);
            background-color: #000;
            border-radius: 50%;
            position: absolute;
            top: vw(4);
            left: vw(0);
          }
        }
      }
    }

    .check-box {
      display: block;
      .input-wrap {
        margin-bottom: vw(10);
      }
      .btn {
        margin-left: vw(23);
      }
    }

    @include mixin.laptop {
      .text-box {
        margin-bottom: vw(30, 1920);
      }

      .event-box {
        margin-bottom: vw(31, 1920);

        .event-title {
          padding: vw(10 0, 1920);
          font-size: vw(20, 1920);
        }

        .event-cont {
          padding: vw(24 34, 1920);

          li {
            padding-left: vw(14, 1920);

            &:before {
              content: "";
              width: vw(5, 1920);
              height: vw(5, 1920);
              top: vw(10, 1920);
              left: vw(0);
            }
          }
        }
      }

      .check-box {
        display: flex;
        gap: vw(14);
        margin-bottom: vw(50, 1920);
        .input-wrap {
          display: inline-block;
          margin-bottom: 0;
        }
        .btn {
          margin-left: 0;
        }
      }
    }
  }

  &-button {
    .inner {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: vw(8);
      gap: vw(35);

      button {
        display: inline-block;
        width: vw(101);
        border-radius: vw(20);
        font-size: vw(13);
        padding: vw(10 0);
        color: #fff;
        background-color: #005baa;
        font-weight: 800;

        &:first-child {
          display: none;
        }
      }

      @include mixin.laptop {
        margin-top: 0;
        gap: vw(78, 1920);

        button {
          width: vw(196, 1920);
          border-radius: vw(60, 1920);
          font-size: vw(30, 1920);
          padding: vw(22 0, 1920);
          color: #fff;
        }
      }
    }
  }
}

.popup {
  display: none;
  position: fixed;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  padding-bottom: vw(46);
  box-sizing: border-box;
  .popup-cont {
    padding: vw(24 32 20);
    .scroll-zone {
      height: calc(100vh - 200px);
      border: 1px solid #000;
      overflow-y: scroll;
    }
  }

  .popup-btn {
    text-align: center;

    button {
      display: inline-block;
      width: vw(101);
      border-radius: vw(20);
      font-size: vw(13);
      padding: vw(10 0);
      color: #fff;
      background-color: #005baa;
      font-weight: 800;
    }
  }

  &.check {
    .popup-header {
      position: relative;
      font-size: vw(16);

      .btn-before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: vw(34);
        width: vw(11);
        height: vw(12);
        a {
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .text {
      margin-bottom: vw(18);
      font-size: vw(11);
    }
  }

  @include mixin.laptop {
    width: 100%;
    height: 100vh;
    padding-bottom: vw(58, 1920);
    box-sizing: border-box;
    .popup-cont {
      height: calc(100vh - 300px);
      padding: vw(57 0 47, 1920);
      width: vw(1292,1920);
      margin: 0 auto;

      .scroll-zone {
        height: 100%;
      }
    }

    .popup-btn {
      text-align: center;

      button {
        width: vw(258, 1920);
        border-radius: vw(60, 1920);
        font-size: vw(32, 1920);
        padding: vw(33 0, 1920);
      }
    }

    &.check {
      .popup-header {
        position: relative;
        font-size: vw(16);

        .btn-before {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: vw(34);
          width: vw(11);
          height: vw(12);
          a {
            width: 100%;
            height: 100%;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .text {
        margin-bottom: vw(18);
        font-size: vw(11);
      }
        @include mixin.laptop {
     .popup-header {
        position: relative;
        font-size: vw(41, 1920);

        .btn-before {
          left: vw(62,1920);
          width: vw(21,1920);
          height: vw(40,1920);
        }
      }
      .text {
        margin-bottom: vw(30,1920);
        font-size: vw(21,1920);
      }
    }
    }
  }
  

  
  }


.dim {
  position: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
