@use "../utils/mixin" as mixin;
@use "../variables/device" as device;
@use "../utils/function" as *;

.main {
  height: 100vh;
  background-color: #ffd500;
  padding: vw(40 24 60);

  .logo {
    width: vw(156);
    margin: vw(0 auto 20);
  }

  .contents {
    position: relative;
    width: 100%;
    height: 90%;
    background-color: #fff;
    border-radius: vw(30);
    margin-bottom: vw(16);
    box-sizing: border-box;
    padding: vw(50 21);
    
    ul {
      overflow-y: scroll;
      li {
        display: flex;
        align-items: center;
        margin-bottom: vw(20);
        min-height: vw(65);

        .img-box {
          width: vw(80);
          margin-right: vw(10);

          img {
            width: 100%;
          }
        }

        .cont-box {
          line-height: 120%;
          font-size: vw(12);
          .title {
            font-weight: 800;
          }
        }
      }
    }

    .notice {
      position: absolute;
      width: 100%;
      font-size: vw(7);
      left: 0;
      bottom: vw(17);
      text-align: center;
    }
  }

  .button-box {
    text-align: center;

    button {
      display: inline-block;
      background-color: #005baa;
      color: #fff;
      font-weight: 800;
      font-size: vw(14);
      padding: vw(12 19);
      text-align: center;
      border-radius: vw(50);
    }
  }
 @include mixin.tablet {
    padding: vw(20 24 0, 768);
    .contents {
      height: 68%;
      padding: vw(20 20 , 768);
       ul {
        margin: 0 auto;
        width: 55%;
      overflow-y: scroll;
      li {
        display: flex;
        align-items: center;
        margin-bottom: vw(20,768);
        min-height: vw(65,768);

        .img-box {
          width: vw(100,768);
          margin-right: vw(10,768);

          img {
            width: 100%;
          }
        }

        .cont-box {
          line-height: 120%;
          font-size: vw(20,768);
          .title {
            font-weight: 800;
          }
        }
      }
    }
    }
 }
  @include mixin.laptop {
    height: 100vh;
    padding: vw(41 24 0, 1920);

    .logo {
      width: vw(363, 1920);
      margin: vw(0 auto 22, 1920);
    }

    .contents {
      width: 67%;
      height: 65%;
      margin: 0 auto;
      border-radius: vw(30, 1920);
      margin-bottom: vw(50, 1920);
      box-sizing: border-box;
      padding: vw(13 0, 1920);
      ul {
        width: vw(514, 1920);
        margin: 0 auto;
        li {
          margin-bottom: vw(20, 1920);
          min-height: vw(111, 1920);

          .img-box {
            width: vw(157, 1920);
            margin-right: vw(10, 1920);

            img {
              width: 100%;
            }
          }

          .cont-box {
            line-height: 120%;
            font-size: vw(18, 1920);
            .title {
              font-weight: 800;
            }
          }
        }
      }

      .notice {
      background-color: #fff;
        font-size: vw(11,1920);
        bottom: vw(27,1920);
      }
    }

    .button-box {
      position: absolute;
      bottom: vw(30,1920);
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: vw(0, 1920);
      text-align: center;

      button {
        font-size: vw(34, 1920);
        padding: vw(30 44, 1920);
        border-radius: vw(50, 1920);
      }
    }
  }
}
